<h1><%= @board_game.name %></h1>

<p>Time duration of the game: <%= @board_game.time_duration %>min</p>

<p>Difficulty rating: <%= @board_game.difficulty %>/5</p>

<p>Rules: <%= @board_game.rules %></p>
